
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  </div>

  <div class="form-inputs">
    <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  </div>

  <div class="form-inputs">
    <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
