  <% time_now = DateTime.now.utc %>
  <% @events.each do |event| %>
  <% if time_now < event.date %>
   <tr class="text-center">
      <th scope="row"><%= event.id %></th>
      <td class="table-success text-center"><%= event.title %></td>
      <td class="text-center"><%= link_to 'Show', event %></td>
       <td class="text-center"><%= event.date.utc.strftime("%F") %></td>
       <% if user_signed_in?  && current_user.id == event.user_id %>
        <td class="table-warning text-center"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class="table-warning text-center"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
   </tr>
