<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @enrollment.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @enrollment.user.email %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
